body{
    margin: 0;
}

section{
    float: left;
    width: 50%;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

header, footer{
    background-color: rgb(255, 115, 0);
    padding: 15px;
    text-align: center;
}

header{
    font-size: large;
}

footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

table{
    margin: 25px auto 75px auto;
}

table, th, td{
    border: 1px solid rgb(255, 115, 0);
    border-spacing: 0;
}

th, td{
    padding: 5px;
}

#table2{
    visibility: hidden;
}

img{
        width: 250px;
}

img:hover{
    cursor: pointer;
}

div{
    position: absolute;
    top: 350px;
    right: auto;
}