*{
    font-family: 'Courier New', Courier, monospace;
}

form{
    text-align: center;
}

.output{
    border: black, 1px, solid;
    width: fit-content;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
}