*{
    font-family: 'Garamond';
    color: white;
}

header{
    background-color: indigo;
    text-align: center;
    padding: 2px;
}

.left, .right{
    background-color: indigo;
    height: 600px;
}

.middle{
    background-color: black;
    height: 600px;
    overflow: scroll;
}

@media (width > 800px) {
    .main{
        display: flex;
    }

    .left, .right{
        width: 20%;
    }

    .middle{
        width: 60%;
    }
}

footer{
    background-color: indigo;
    height: 150px;
}


li{
    padding: 5px;
}

.points{
    background-color: tomato;
    border-radius: 50%;
    padding: 5px;
}

input{
    margin: 10px;
    color: indigo;
}

.games {
    float: left;
    text-align: center;
    padding: 3px;
}