#head1, #head2, #head3{
    float: left;
}

main{
    clear: both;
}

*{
    font-family: 'Tahoma';
}

header{
    background-color: #7DA453;
    color: white;
    height: 120px;
}

#head1, #head2{
    width: 40%;
}

#head3{
    width: 20%;
}

.cal{
    background-color: #AED581;
    width: 200px;
    height: 100px;
    margin: 7px;
    border: 1px, solid, #7DA453;
    float: left;
}

.cal:hover{
    background-color: #7DA453;
    color: white;
}

footer{
    clear: both;
    background-color: #7DA453;
    color: white;
    padding: 5px;
}

h5{
    text-align: center;
}

form{
    padding: 50px;
}