aside, header, nav, main, footer{
    float: left;
}

*{
    font-family: 'Verdana';
}

aside{
    width: 20%;
    height: 610px;
}

img{
    width: 100%;
    height: 610px;
}

header, footer, nav{
    background-color: mediumpurple;
    color: white;
    width: 80%;
    height: 50px;
    text-align: center;
    text-shadow: 4px 4px dimgray;
}

nav{
    padding-top: 10px;
}

main{
    background-color: thistle;
    width: 80%;
    height: 450px;
    overflow: auto;
}

ul button{
    float: right;
    background-color: mediumpurple;
    color: white;
    height: 30px;
    border: none;
}

ul{
    margin: 40px auto 40px auto;
    width: 70%;
    font-size: 25px;
    border: solid 2px mediumpurple;
    list-style: none;
}

li{
    padding: 10px;
}

li:nth-child(even){
    background-color: #DDCADD;
}

li:hover{
    background-color: lavender;
}