*{
    font-family: 'Georgia';
    color: white;
}

header, footer{
    background-color: maroon;
    text-align: center;
    padding: 2px;
}

.left, .middle, .right{
    background-color: lightsalmon;
    height: 527px;
    float: left;
}

.left, .right{
    width: 15%;
}

.middle{
    width: 70%;
}

aside{
    background-color: maroon;
    height: 70px;
    clear: both;
}

button{
    background-color: lightsalmon;
    color: maroon;
    border: none;
    font-size: 400%;
    display: block;
    margin: auto;
    padding-top: 210px;
}

aside > img{
    height: 70px;
    animation: move 4s;
    padding-left: 0px;
}

@keyframes move {
    from {
        padding-left: 50px;
    }
    to {
        padding-left: 0px;
    }
}

.middle > img{
    display: block;
    margin: auto;
    padding-top: 45px;
    transition: transform 5s ease;
}

.middle > img:hover{
    transform: scale(1.2);
}