main{
    display: flex;
}

body{
    background-color: #FC9;
    font-family: 'Garamond';
    text-align: center;
    margin: 0;
}

header, footer{
    background-color: darkgreen;
    color: white;
    padding: 30px;
    font-size: 140%;
}

nav{
    background-color: mediumseagreen;
    word-spacing: 90px;
    padding: 20px;
}

.left{
    width: 70%;
    height: 500px;
}

.right{
    background-color: mediumseagreen;
    width: 30%;
    height: 500px;
    text-align: left;
}

table{
    border: dashed 1px darkgreen;
    margin: 30px auto 30px auto;
}

th, td{
    padding: 5px;
}

a{
    color: white;
}

ul{
    list-style-type: circle;
}

tr:hover{
    background-color: darkgreen;
    color: white;
}